sudo: false

language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "pypy"

env:
  - TOXENV=py-base
  - TOXENV=py-jwt

before_install:
  - pip install -U pip
install:
  - pip install -U coveralls tox

script:
  - python setup.py test

after_success:
  - coveralls

branches:
  only:
    - master
